---
title: Backing Up <%= vars.app_runtime_full %>
owner: Tanzu Application Service Release Engineering
---

This topic provides an overview of how to back up
<%= vars.app_runtime_full %> (<%= vars.app_runtime_short %>).

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview






### <a id='backup-prepare-instances'></a> Prepare Tanzu Postgres TAS Instances for Backup and Restore
