---
title: Administering <%= vars.app_runtime_full %>
owner: Tanzu Application Service Release Engineering
---
<% current_page.data.title = "Installing #{vars.app_runtime_full}" %>

This topic provides an overview of how to administer <%= vars.app_runtime_full %> (<%= vars.app_runtime_short %>).

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview

To administer <%= vars.app_runtime_short %>:

* [Administering <%= vars.app_runtime_short %>](administering-tas-for-kubernetes.html)
* [Scaling <%= vars.app_runtime_short %>](scaling-tas-for-kubernetes.html)
* [Uninstalling <%= vars.app_runtime_short %>](uninstalling-tas-for-kubernetes.html)
