---
title: <%= vars.app_runtime_full %>
owner: Tanzu Application Service Release Engineering
---

This topic provides an overview of
<%= vars.app_runtime_full %> (<%= vars.app_runtime_short %>).

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview

<%= vars.app_runtime_short %> brings the development experience of [Tanzu Application Service](https://docs.pivotal.io/application-service/concepts/index.html) to the Kubernetes container orchestrator.
It includes the most important features of Tanzu Application Service, such as `cf push` for buildpack-based apps, while running
both the system components and the application instances as Kubernetes workloads.

## <a id='getting-started'></a> Getting Started

See [Preparing to Install <%= vars.app_runtime_full %>]
(preparing-to-install-tas-for-kubernetes.html) to set up the
dependencies required to install <%= vars.app_runtime_short %>.
