---
title: Installing <%= vars.app_runtime_full %>
owner: Tanzu Application Service Release Engineering
---

This topic provides an overview of installing
<%= vars.app_runtime_full %> (<%= vars.app_runtime_short %>).

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview

To install <%= vars.app_runtime_short %>, complete the following:

* [Configuring Installation Values](configuring-installation-values.html)
* [Configuring Your App Image Registry](configuring-app-image-registry.html)
* [Configuring Your System Image Registry](configuring-sys-image-registry.html)
* [Configuring Your System Databases](configuring-system-databases.html)
* [Configuring Apps Manager](configuring-apps-manager.html)
* [Installing <%= vars.app_runtime_full %>](installing-tas-for-kubernetes.html)
