---
title: Backing up and Restoring <%= vars.app_runtime_full %>
owner: Tanzu Application Service Release Engineering
---

This topic provides an overview of how to administer
<%= vars.app_runtime_full %> (<%= vars.app_runtime_short %>).

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview

[](bandr-intro.html)

To back up <%= vars.app_runtime_short %>:

* [](bandr-backup-manual.html)
* [](bandr-backup-auto.html)

To restore <%= vars.app_runtime_short %>:

* [Restoring <%= vars.app_runtime_full %>](bandr-restore-manual.html)
