---
title: Backing up and Restoring <%= vars.app_runtime_full %>
owner: Tanzu Application Service Release Engineering
---

This topic provides an overview of how to administer
<%= vars.app_runtime_full %> (TAS for Kubernetes).

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview

[](bandr-intro.html)

To back up TAS for Kubernetes:

* [](bandr-backup-manual.html)
* [](bandr-backup-auto.html)

To restore TAS for Kubernetes:

* [Restoring <%= vars.app_runtime_full %>](bandr-restore-manual.html)
