---
title: Tanzu Application Service for Kubernetes Release Notes
owner: Tanzu Application Service Release Engineering
---

This topic contains release notes for <%= vars.app_runtime_full %> (<%= vars.app_runtime_short %>).

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='0-5-0'></a> v<%= vars.local_product_version %>

**Release Date**: TBD, 2020

### <a id='product-snapshot'></a>Product Snapshot

<table class="nice">
  <tr>
    <th>Release</th>
    <th width=40%>Details</th>
  </tr>
  <tr>
    <td>Version</td>
    <td>v<%= vars.local_product_version %></td>
  </tr>
  <tr>
    <td>Release date</td>
    <td>TBD, 2020</td>
  </tr>
</table>

To download VMware <%= vars.app_runtime_short %> v<%= vars.local_product_version %>, see
[VMware <%= vars.app_runtime_full %>]
(https://network.pivotal.io/products/tas-for-kubernetes)
on the _VMware Tanzu Network_.

#### <a id='supported-platforms'></a>Supported Kubernetes Distributions

<%= vars.app_runtime_short %> is compatible with Kubernetes v1.16 and later, and is tested with the following Kubernetes distributions:

<table class="nice">
  <tr>
    <th>Platform</th>
    <th width=40%>Version</th>
  </tr>
  <tr>
    <td>Tanzu Kubernetes Grid</td>
    <td>v1.0, with <code>metrics-server</code></td>
  </tr>
  <tr>
    <td>Tanzu Kubernetes Grid Integrated Edition</td>
    <td>v1.7, v1.8 and v1.9</td>
  </tr>
  <tr>
    <td>Tanzu Kubernetes Grid Service for vSphere</td>
    <td>v7.0</td>
  </tr>
</table>

#### <a id='installed-components'></a>Installed With <%= vars.local_product_version %>

<%= vars.app_runtime_short %> uses the following components:

<table class="nice">
  <tr>
    <th>Element</th>
    <th width=40%>Details</th>
  </tr>
  <tr>
    <td>cf-for-k8s</td>
    <td><a href="https://github.com/cloudfoundry/cf-for-k8s/commit/9854f5b0e250fbdf11b33abd956ae5a53efe7866">Commit 9854f5b</a></td>
  </tr>
  <tr>
    <td>Istio</td>
    <td>v1.4.5</td>
  </tr>
  <tr>
    <td>kpack</td>
    <td>v0.0.9</td>
  </tr>
</table>

#### <a id='additional-components'></a>Required Additional Components

<%= vars.app_runtime_short %> requires the following components:

<table class="nice">
  <tr>
    <th>Element</th>
    <th width=40%>Details</th>
  </tr>
  <tr>
    <td>BOSH CLI</td>
    <td>v6.3.1</td>
  </tr>
  <tr>
    <td>cf CLI</td>
    <td>v7.0.1 or later</td>
  </tr>

  <tr>
    <td>Docker CLI</td>
    <td>.</td>
  </tr>
  <tr>
    <td>Harbor Registry</td>
    <td>.</td>
  </tr>
  <tr>
    <td>kubectl, the Kubernetes CLI</td>
    <td>.</td>
  </tr>
  <tr>
    <td>kapp</td>
    <td>v0.29.0 or later</td>
  </tr>
  <tr>
    <td>kbld</td>
    <td>v0.23.0 or later</td>
  </tr>
  <tr>
    <td>ytt</td>
    <td>v0.28.0 or later</td>
  </tr>
</table>


#### <a id='optional-components'></a>Optional Components

<%= vars.app_runtime_short %> supports the following optional components:

<table class="nice">
  <tr>
    <th>Element</th>
    <th>Details</th>
  </tr>
  <tr>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td>.</td>
    <td>.</td>
  </tr>
</table>


#### <a id='supported-environments'></a>Supported Environments

<%= vars.app_runtime_short %> can be deployed and managed from the following desktop OS environments:

* 64-bit Mac OS
* 64-bit Linux OS

<table class="nice">
  <tr>
    <th>Deployment Environment</th>
    <th >Version</th>
  </tr>
  <tr>
    <td>vSphere with Flannel</td>
    <td>.</td>
  </tr>
  <tr>
    <th>Supported IaaSs</th>
    <th></th>
  </tr>
  <tr>
    <td>.</td>
    <td></td>
  </tr>
</table>


### <a id='features-0-5-0'></a> Features

New features and changes in this release:

- None

### <a id='breaking-0-5-0'></a> Breaking Changes

This release has the following breaking changes:

 -

### <a id='known-issues-0-5-0'></a> Known Issues

This release has the following issues:

 - Pushing apps or retrieving app logs with `cf logs` requires cf CLI v7.0.1 or later

## <a id='0-4-0'></a> v0.4.0

**Release Date**: September 3, 2020

### <a id='product-snapshot-0-4-0'></a>Product Snapshot

<table class="nice">
  <tr>
    <th>Release</th>
    <th width=40%>Details</th>
  </tr>
  <tr>
    <td>Version</td>
    <td>v0.4.0</td>
  </tr>
  <tr>
    <td>Release date</td>
    <td>September 3, 2020</td>
  </tr>
</table>
To download VMware <%= vars.app_runtime_short %> v0.4.0, see
[VMware <%= vars.app_runtime_full %>]
(https://network.pivotal.io/products/tas-for-kubernetes)
on the _VMware Tanzu Network_.

#### <a id='installed-components-0-4-0'></a>Installed With v0.4.0

<%= vars.app_runtime_short %> uses the following components:

<table class="nice">
  <tr>
    <th>Element</th>
    <th width=40%>Details</th>
  </tr>
  <tr>
    <td>cf-for-k8s</td>
    <td><a href="https://github.com/cloudfoundry/cf-for-k8s/commit/80c2f99a67f761b540f035f8d1bdd8360aa52a13">Commit 80c2f99</a></td>
  </tr>
  <tr>
    <td>Usage Service</td>
    <td><a href="https://github.com/pivotal/usage-service-k8s-release/commit/d3ba9e2f08cd8241c128f30e2ddbf9fbb9e52ab0">Commit d3ba9e2</a></td>
  </tr>
  <tr>
    <td>Apps Manager</td>
    <td><a href="https://github.com/pivotal/apps-manager-k8s-release/commit/792c6a0e2a634470399a7789d68485898323b90e">Commit 792c6a0</a></td>
  </tr>
  <tr>
    <td>Node.js Buildpack for VMware Tanzu</td>
    <td><a href="https://network.pivotal.io/products/tanzu-nodejs-buildpack/">v1.0.4</a></td>
  </tr>
  <tr>
    <td>Go Buildpack for VMware Tanzu</td>
    <td><a href="https://network.pivotal.io/products/tanzu-go-buildpack/">v1.0.3</a></td>
  </tr>
  <tr>
    <td>Java Buildpack for VMware Tanzu</td>
    <td><a href="https://network.pivotal.io/products/tanzu-java-buildpack/">v2.5.0</a></td>
  </tr>
  <tr>
    <td>Istio</td>
    <td>v1.4.5</td>
  </tr>
  <tr>
    <td>kpack</td>
    <td>v0.0.9</td>
  </tr>
</table>

#### <a id='additional-components-0-4-0'></a>Required Additional Components

<%= vars.app_runtime_short %> requires the following components:

<table class="nice">
  <tr>
    <th>Element</th>
    <th width=40%>Details</th>
  </tr>
  <tr>
    <td>BOSH CLI</td>
    <td>v6.3.1</td>
  </tr>
  <tr>
    <td>cf CLI</td>
    <td>v6.51.0</td>
  </tr>
<%#
  <tr>
    <td>Docker CLI</td>
    <td>.</td>
  </tr>
  <tr>
    <td>Harbor Registry</td>
    <td>.</td>
  </tr>
  <tr>
    <td>kubectl, the Kubernetes CLI</td>
    <td>.</td>
  </tr>
#%>
  <tr>
    <td>kapp</td>
    <td>v0.33.0 or later</td>
  </tr>
  <tr>
    <td>kbld</td>
    <td>v0.23.0 or later</td>
  </tr>
  <tr>
    <td>ytt</td>
    <td>v0.28.0 or later</td>
  </tr>
</table>

<%#
#### <a id='optional-components'></a>Optional Components

<%= vars.app_runtime_short %> supports the following optional components:

<table class="nice">
  <tr>
    <th>Element</th>
    <th>Details</th>
  </tr>
  <tr>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td>.</td>
    <td>.</td>
  </tr>
</table>
#%>

#### <a id='supported-platforms-0-4-0'></a>Supported Kubernetes Distributions

<%= vars.app_runtime_short %> supports the following Kubernetes distributions:

<table class="nice">
  <tr>
    <th>Platform</th>
    <th width=40%>Version</th>
  </tr>
  <tr>
    <td>Tanzu Kubernetes Grid</td>
    <td>v1.0, with <code>metrics-server</code></td>
  </tr>
  <tr>
    <td>Tanzu Kubernetes Grid Integrated Edition</td>
    <td>v1.7, v1.8, and v1.9</td>
  </tr>
</table>


#### <a id='supported-environments-0-4-0'></a>Supported Environments

<%= vars.app_runtime_short %> can be deployed and managed from the following desktop OS environments:

* 64-bit Mac OS
* 64-bit Linux OS

<%#
<table class="nice">
  <tr>
    <th>Deployment Environment</th>
    <th >Version</th>
  </tr>
  <tr>
    <td>vSphere with Flannel</td>
    <td>.</td>
  </tr>
  <tr>
    <th>Supported IaaSs</th>
    <th></th>
  </tr>
  <tr>
    <td>.</td>
    <td></td>
  </tr>
</table>
#%>


### <a id='features-0-4-0'></a> Features

New features and changes in this release:

- <%= vars.app_runtime_short %> incorporates Apps Manager
- <%= vars.app_runtime_short %> incorporates Usage Service
- <%= vars.app_runtime_short %> incorporates Tanzu Buildpacks (with support for airgapped app staging) for Java, NodeJS, and Golang
- Security enhancements

### <a id='breaking-0-4-0'></a> Breaking Changes

This release has the following breaking changes:

 - App registry configuration files used with <%= vars.app_runtime_short %> v0.3.0 and earlier
 are not compatible with <%= vars.app_runtime_short %> v0.4.0 and later.
 For information about the current app registry configuration file
 format, see [Configure the App Image Registry]
 (configuring-app-image-registry.html#harbor-config-file)
 and [Use a Different Image Registry]
 (configuring-app-image-registry.html#configure-other-registry) in _Configuring Your App Image Registry_.

### <a id='known-issues-0-4-0'></a> Known Issues

This release has the following issues:

 - **Apps Manager** does not support inviting members.
 - **Apps Manager** does not support creating container networking policies for apps.

## <a id='0-3-0'></a> v0.3.0

**Release Date**: July 30, 2020

### <a id='product-snapshot-0-3-0'></a>Product Snapshot

<table class="nice">
  <tr>
    <th>Release</th>
    <th width=40%>Details</th>
  </tr>
  <tr>
    <td>Version</td>
    <td>v0.3.0</td>
  </tr>
  <tr>
    <td>Release date</td>
    <td>July 30, 2020</td>
  </tr>
</table>
To download VMware <%= vars.app_runtime_short %> v0.3.0, see
[VMware <%= vars.app_runtime_full %>]
(https://network.pivotal.io/products/tas-for-kubernetes#/releases/691843)
on the _VMware Tanzu Network_.

#### <a id='installed-components-0-3-0'></a>Installed With 0.3.0

<%= vars.app_runtime_short %> uses the following components:

<table class="nice">
  <tr>
    <th>Element</th>
    <th width=40%>Details</th>
  </tr>
  <tr>
    <td>cf-for-k8s</td>
    <td><a href="https://github.com/cloudfoundry/cf-for-k8s/commit/9854f5b0e250fbdf11b33abd956ae5a53efe7866">Commit 9854f5b</a></td>
  </tr>
  <tr>
    <td>Istio</td>
    <td>v1.4.5</td>
  </tr>
  <tr>
    <td>kpack</td>
    <td>v0.0.9</td>
  </tr>
</table>

#### <a id='additional-components-0-3-0'></a>Required Additional Components

<%= vars.app_runtime_short %> requires the following components:

<table class="nice">
  <tr>
    <th>Element</th>
    <th width=40%>Details</th>
  </tr>
  <tr>
    <td>BOSH CLI</td>
    <td>v6.3.1</td>
  </tr>
  <tr>
    <td>cf CLI</td>
    <td>v6.51.0</td>
  </tr>
<%#
  <tr>
    <td>Docker CLI</td>
    <td>.</td>
  </tr>
  <tr>
    <td>Harbor Registry</td>
    <td>.</td>
  </tr>
  <tr>
    <td>kubectl, the Kubernetes CLI</td>
    <td>.</td>
  </tr>
#%>
  <tr>
    <td>kapp</td>
    <td>v0.29.0 or later</td>
  </tr>
  <tr>
    <td>kbld</td>
    <td>v0.23.0 or later</td>
  </tr>
  <tr>
    <td>ytt</td>
    <td>v0.28.0 or later</td>
  </tr>
</table>

<%#
#### <a id='optional-components'></a>Optional Components

<%= vars.app_runtime_short %> supports the following optional components:

<table class="nice">
  <tr>
    <th>Element</th>
    <th>Details</th>
  </tr>
  <tr>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td>.</td>
    <td>.</td>
  </tr>
</table>
#%>

#### <a id='supported-platforms-0-3-0'></a>Supported Kubernetes Distributions

<%= vars.app_runtime_short %> supports the following Kubernetes distributions:

<table class="nice">
  <tr>
    <th>Platform</th>
    <th width=40%>Version</th>
  </tr>
  <tr>
    <td>Tanzu Kubernetes Grid</td>
    <td>v1.0, with <code>metrics-server</code></td>
  </tr>
  <tr>
    <td>Tanzu Kubernetes Grid Integrated Edition</td>
    <td>v1.7, v1.8, and v1.9</td>
  </tr>
</table>


#### <a id='supported-environments-0-3-0'></a>Supported Environments

<%= vars.app_runtime_short %> can be deployed and managed from the following desktop OS environments:

* 64-bit Mac OS
* 64-bit Linux OS

<%#
<table class="nice">
  <tr>
    <th>Deployment Environment</th>
    <th >Version</th>
  </tr>
  <tr>
    <td>vSphere with Flannel</td>
    <td>.</td>
  </tr>
  <tr>
    <th>Supported IaaSs</th>
    <th></th>
  </tr>
  <tr>
    <td>.</td>
    <td></td>
  </tr>
</table>
#%>


### <a id='features-0-3-0'></a> Features

New features and changes in this release:

- Platform operators can copy system-component images into another registry and deploy <%= vars.app_runtime_short %> to use those relocated images.
- Platform operators can configure their own certificates on the <%= vars.app_runtime_short %> ingress gateway for TLS termination.
- <%= vars.app_runtime_short %> incorporates [Paketo cloud-native buildpacks](https://paketo.io/) for Java, NodeJS, Go, .NET Core, PHP, HTTPD, and nginx.
- Istio sidecar proxies prevent all communication between apps on the Kubernetes Pod network.
- Bump Istio to version `1.4.5`
- Bump kpack to version `0.0.9`

### <a id='known-issues-0-3-0'></a> Known Issues

This release has the following issues:

- Retrieving app and buildpack-staging logs with `cf logs` requires cf CLI v6.50.0 or later.
- App instance logs also include unfiltered logs from the Istio sidecar proxy process and can be noisy as a result.
- The `cf buildpacks` command shows an empty list of buildpacks.
- Does not support cf CLI `buildpack-administration` commands.
- App developers cannot select a buildpack for their buildpack-based apps.
- The <%= vars.app_runtime_short %> ingress gateway service may interfere with traffic for other Kubernetes Services in the cluster.
- <%= vars.app_runtime_short %> cannot use the AWS Elastic Container Registry as its app image registry.
- Does not support upgrading an existing <%= vars.app_runtime_short %> installation to a new version.
- Does not support re-deploying <%= vars.app_runtime_short %> with different credentials.


## <a id='0-2-0'></a> v0.2.0

**Release Date: May 29, 2020**

### <a id='features-0-2-0'></a> Features

New features and changes in this release:

- The `cf app` command now displays CPU and memory usage metrics for app instances.
- Component metrics for Cloud Controller are now available for Prometheus to scrape via conventional `prometheus.io` annotations.
- Load-balancer options are now configured via the `enable_load_balancer` template parameter instead of via moving template overlay files.
- Ingress routing without a Kubernetes-provisioned load balancer no longer creates the `istio-ingressgateway` Kubernetes service.


### Resolved Issues

This release has the following fixes:

- Apps can now receive ingress traffic through both HTTP and HTTPS.
- Buildpack-staging logs are now streamed during `cf push`.
- Running `cf restage` now restages the app successfully.
- Running buildpack-based apps no longer requires the `diego_docker` feature flag to be set.

### <a id='known-issues-0-2-0'></a> Known Issues

This release has the following issues:

- Retrieving app and buildpack-staging logs with `cf logs` requires cf CLI v6.50.0 or later.
- App instance logs also include unfiltered logs from the Istio sidecar proxy process and can be noisy as a result.
- The `cf buildpacks` command shows an empty list of buildpacks.
- Does not support cf CLI `buildpack-administration` commands.
- App developers cannot select a buildpack for their buildpack-based apps.
- The <%= vars.app_runtime_short %> ingress gateway service may interfere with traffic for other Kubernetes Services in the cluster.
- <%= vars.app_runtime_short %> cannot use the AWS Elastic Container Registry as its app image registry.
- Does not support upgrading an existing <%= vars.app_runtime_short %> installation to a new version.
- Does not support re-deploying <%= vars.app_runtime_short %> with different credentials.

## <a id='0-1-0'></a> v0.1.0

**Release Date: April 14, 2020**

### <a id='features-0-1-0'></a> Features

Key features in this release:

- Supports building and running apps from source files through `cf push`
  using system-provided cloud-native buildpacks for Java, Go, NodeJS, and .NET Core.
- Supports running apps packaged as Docker images.
- Supports routing HTTP traffic to apps.
- Supports retrieving logs from app-instance processes.
- Supports retrieving logs from cloud-native buildpack builds.
- Supports installation to Kubernetes clusters provisioned by Tanzu Kubernetes Grid Integrated Edition.
- Uses the k14s toolchain (ytt, kbld, and kapp) for installation.
  For more information, see the [k14s](https://k14s.io) website.
- Supports integration with VMware Harbor Registry, Google Container Registry, and DockerHub for storing app images.

### <a id='known-issues-0-1-0'></a> Known Issues

This release has the following issues:

- Apps can receive ingress traffic only through HTTP and not HTTPS.
- Retrieving app and buildpack-staging logs with `cf logs` requires cf CLI v6.50.0 or later.
- Buildpack-staging logs are not streamed during `cf push`.
- App instance logs also include unfiltered logs from the Istio sidecar proxy process and can be noisy as a result.
- Running `cf restage` fails to re-stage the app.
- The `cf buildpacks` command shows an empty list of buildpacks.
- Does not support cf CLI `buildpack-administration` commands.
- App developers cannot select a buildpack for their buildpack-based apps.
- Running buildpack-based apps requires the `diego_docker` feature flag to be set.
- The <%= vars.app_runtime_short %> ingress gateway service may interfere with traffic for other Kubernetes Services in the cluster.
- <%= vars.app_runtime_short %> cannot use the AWS Elastic Container Registry as its app image registry.
- Does not support upgrading an existing TAS installation to a new version.
- Does not support re-deploying TAS with different credentials.
