---
title: Uninstalling <%= vars.app_runtime_full %>
owner: Tanzu Application Service Release Engineering
---
<% current_page.data.title = "Installing #{vars.app_runtime_full}" %>
This topic discusses how to uninstall <%= vars.app_runtime_full %>.

## <a id='uninstalling-k8s'></a> Uninstalling Kubernetes Resources

To uninstall the <%= vars.app_runtime_short %> resources installed to the Kubernetes cluster, run:

```
$ kapp delete -a cf
```

This deletion command also deletes the pods and other resources that correspond to running application instances and buildpack builds.


## <a id='removing-app-images'></a> Removing App Images

Uninstalling the <%= vars.app_runtime_short %> resources from the Kubernetes cluster
does not delete any app images pushed to the app-image registry.
To delete them, delete the repositories that <%= vars.app_runtime_short %> has created in the registry.
